* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #0D470D;
    background-color: #FBF5EC;
}

header {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.375rem;
    border-bottom: .0625rem solid #808080;
}

.logo {
    width: 12.5rem;
}

.nav-links {
    display: flex;
    gap: 1.5625rem;
}

.nav-links a {
    text-decoration: none;
    color: #0D470D;
}

.browse-button {
    font-size: 1rem;
    padding: .625rem .9375rem;
    border: none;
    border-radius: .4375rem;
    background-color: #0D470D;
    color: #fff;
    cursor: pointer;   
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3.75rem;
    gap: 1.25rem;
}

.second-section p {
    width: 30.125rem;
    text-align: center;
}

.main-photo {
    width: 50rem;
    height: 21.875rem;
    display: flex;
    margin: auto;
    border: .5rem solid #fff;
    border-radius: .625rem;
    margin-top: 2.8125rem;
}

.main-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.benefits-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits-section h2 {
    text-align: center;
    margin-top: 3.125rem;
}

.benefits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.benefits div {
    width: 18.75rem;
    margin-top: 1.875rem;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8.125rem;
    gap: 5rem;
}

.third-section .main-description {
    width: 27.5rem;
    line-height: 1.375rem;
}

.cooking-photo {
    width: 28.125rem;
}

.cooking-photo img {
    width: 100%;
    border-radius: 1.25rem;
}

#third-title {
    margin-bottom: 1.25rem;
}

#first-paragraph {
    margin-bottom: .9375rem;
}

.last-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 69%;
    height: 20rem;
    margin: auto;
    background-color: #E7ECEE;
    margin-top: 4.375rem;
    border-radius: .9375rem;
    text-align: center;
    overflow: hidden;
}

#fork {
    position: absolute;
    left: -3.75rem;
    bottom: -0.9375rem;
    width: 15.625rem;
}

#knife {
    position: absolute;
    right: -3.125rem;
    width: 15.625rem;
}

.ready-to-cook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .9375rem;
}

.ready-to-cook p {
    margin-bottom: .9375rem;
}

.ready-to-cook h2 {
    font-size: 2.4rem;
}

footer {
    display: flex;
    justify-content: end;
    width: 84%;
    gap: 1.125rem;
    margin-top: 1.875rem;
    margin-bottom: 1.25rem;
}




